# Exploring the Pokedex

The goal is to be able to locate the ten strongest standard pokemon of a desired type and provide stats

In [285]:
## Importing modules

import numpy as np
import pandas as pd

print('Done')

Done

In [286]:
## Pull the desired data into a DataFrame and create a duplicate to work on

Base_Data = pd.read_csv('pokemon_data.csv')
df = Base_Data.copy()
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [287]:
## Filtering out Mega Evolutions and Legendary Pokemon

df = df.loc[~df['Name'].str.contains('Mega')]
df = df.loc[~df['Legendary'] == True]
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
787,711,GourgeistSuper Size,Ghost,Grass,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False

In [288]:
## Adding a sum column to further analyze the data

df['Total'] = df.iloc[:, 4:10].sum(axis = 1)

df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,711,GourgeistSuper Size,Ghost,Grass,85,100,122,58,75,54,6,False,494
788,712,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False,304
789,713,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False,514
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False,245
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False,535

In [289]:
## Moving the columns for better visualization

cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False

## Final Results

In [290]:
## Producing the final results

# Make your selection of the type you would like to review
choice = 'Fire'

# Creating a DataFrame consisting of pokemon that have the chosen type in either the Type 1 or Type 2 columns
type1 = df.loc[df['Type 1'] == choice]
type2 = df.loc[df['Type 2'] == choice]
output = pd.concat([type1, type2])

# Adding a few columns to the new DataFrame to facilitate the below charts
output['Choice'] = choice
output['Count'] = 1

# Setting the index to the Name column
output.set_index('Name', inplace = True)

# Sorting the data from greatest total to the smallest
output = output.sort_values(['Total'], ascending = False)

In [291]:
## This provides you the list of the top ten pokemon of the choosen type by total stat points

output.iloc[:10, 1:10]

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Name,,,,,,,,,
Arcanine,Fire,NaN,555,90,110,80,100,80,95
Volcarona,Bug,Fire,550,85,60,65,135,105,100
DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55
Magmortar,Fire,NaN,540,75,95,67,125,95,83
Delphox,Fire,Psychic,534,75,69,72,114,100,104
Typhlosion,Fire,NaN,534,78,84,78,109,85,100
Infernape,Fire,Fighting,534,76,104,71,104,71,108
Charizard,Fire,Flying,534,78,84,78,109,85,100
Blaziken,Fire,Fighting,530,80,120,70,110,70,80
Emboar,Fire,Fighting,528,110,123,65,100,65,65

In [292]:
## This provides you the mean data for all stat categories of the choosen type

output.groupby('Choice').mean().iloc[:, 1:8]

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Choice,,,,,,,
Fire,426.411765,65.235294,75.176471,62.27451,83.588235,67.882353,72.254902

In [293]:
## This provides all of the Dragon type matchups

output.groupby(['Type 1', 'Type 2']).count()['Count']

Type 1    Type 2
Bug       Fire        2
Dark      Fire        2
Electric  Fire        1
Fire      Fighting    6
          Flying      3
          Ground      2
          Normal      2
          Psychic     2
          Rock        1
Ghost     Fire        3
Name: Count, dtype: int64